* {
  box-sizing: border-box;
}

body {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #121212;
  overflow: hidden;
}

.price {
  position: relative;
  width: 20em;
  height: 20em;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.right-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
}

.left-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
}

.right-top {
  position: absolute;
  right: 0;
  top: 0;
}

.left-top {
  position: absolute;
  left: 0;
  top: 0;
}

img {
  display: block;
}

.img-large {
  width: 140px;
  height: 140px;
  object-fit: contain;
  padding: 2em;
  background: url(images/img_23.png) no-repeat center center;
}

.img-medium {
  width: 100px;
  height: 100px;
}

.img-medium.active {
  display: none;
}

.img-small {
  position: absolute;
  width: 50px;
  height: 50px;

  /* Reset small imgs' transform axis */
  left: -25px;
  bottom: -25px;
}

.img-small-wrapper {
  /* animation: orbit infinite 4.2s; */
}

@keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
* right bottom
*/
.img-1 {
  transform: translate(var(--tx-1), var(--ty-1)) rotate(270deg);
}

.img-2 {
  transform: translate(var(--tx-2), var(--ty-2)) rotate(135deg);
}

.img-3 {
  transform: translate(var(--tx-3), var(--ty-3)) rotate(45deg);
}

/*
* left bottom
*/
.img-6 {
  transform: translate(var(--tx-6), var(--ty-6)) rotate(315deg);
}

.img-7 {
  transform: translate(var(--tx-7), var(--ty-7)) rotate(225deg);
}

.img-8 {
  transform: translate(var(--tx-8), var(--ty-8));
}

/*
* right top
*/
.img-11 {
  transform: translate(var(--tx-11), var(--ty-11)) scaleX(-1);
}

.img-12 {
  transform: translate(var(--tx-12), var(--ty-12)) rotate(135deg);
}

.img-13 {
  transform: translate(var(--tx-13), var(--ty-13));
}

/*
* left top
*/
.img-16 {
  transform: translate(var(--tx-16), var(--ty-16)) scaleX(-1);
}

.img-17 {
  transform: translate(var(--tx-17), var(--ty-17)) rotate(135deg);
}

.img-18 {
  transform: translate(var(--tx-18), var(--ty-18));
}

.img-19 {
  transform: translate(var(--tx-19), var(--ty-19)) scaleX(-1);
}

.img-20 {
  transform: translate(var(--tx-20), var(--ty-20)) rotate(135deg);
}
