* {
  box-sizing: border-box;
}

:root {
  --img-large: 140px;
  --img-medium: 100px;
  --img-small: 50px;
  --width-content: 620px;
  --scale-ui: 1;
  --ripple-delay: 0.7s;
}

body {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #121212;
  overflow: hidden;
}

.price {
  position: relative;
  width: 20em;
  height: 20em;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
}

.left-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
}

.right-top {
  position: absolute;
  right: 0;
  top: 0;
}

.left-top {
  position: absolute;
  left: 0;
  top: 0;
}

img {
  display: block;
}

.img-large {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--img-large);
  height: var(--img-large);
  object-fit: contain;
  padding: 2em;
  background: url(images/img_23.png) no-repeat center center;
  border-radius: 50%;
  z-index: 1;
}

.img-large:hover {
  animation: breath infinite alternate 1.05s;
}

.img-medium {
  box-sizing: content-box;
  width: var(--img-medium);
  height: var(--img-medium);
  transition: opacity 0.5s;
}

.img-medium.activated {
  opacity: 0;
  border-radius: 50%;
}

.img-medium.normal {
  opacity: 1;
}

.img-small-wrapper {
  opacity: 0.05;
  transition: opacity 0.2s;
}

.img-small {
  position: absolute;
  width: var(--img-small);
  height: var(--img-small);

  /* Reset small imgs' transform axis */
  left: -25px;
  bottom: -25px;
}

/* Animation */
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 0.01em #fff;
  border-radius: 50%;
  animation: ripple infinite 4.2s linear;
}

.one {
  animation-delay: 0;
}

.two {
  animation-delay: var(--ripple-delay);
}

.three {
  animation-delay: calc(var(--ripple-delay) * 2);
}

.four {
  animation-delay: calc(var(--ripple-delay) * 3);
}

.five {
  animation-delay: calc(var(--ripple-delay) * 4);
}

.active .img-medium.normal {
  opacity: 0;
}

.active .img-medium.activated {
  opacity: 1;
  animation: breath infinite alternate 1.05s;
}

.active .img-small-wrapper {
  opacity: 1;
  animation: orbit infinite 4.2s;
}

@keyframes ripple {
  from {
    width: var(--img-large);
    height: var(--img-large);
    opacity: 0.3;
  }
  to {
    width: var(--width-content);
    height: var(--width-content);
    opacity: 0.1;
  }
}

@keyframes breath {
  from {
    transform: translate(-50%, -50%) scale(1);
    border: 3px solid rgba(12, 175, 139, 100%);
  }
  to {
    transform: translate(-50%, -50%) scale(0.9);
    border: 3px solid rgba(12, 175, 139, 0%);
  }
}

@keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Make page responsive */
@media (max-width: 620px) {
  .price {
    transform: scale(var(--scale-ui));
  }
}
